<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app id="WebApp_ID">
	<display-name>pm80</display-name>
	<servlet>
		<servlet-name>CreateAccountServlet</servlet-name>
		<display-name>CreateAccountServlet</display-name>
		<description></description>
		<servlet-class>com.ppumting.pm80.point.servlet.CreateAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectNoteMsgServlet</servlet-name>
		<display-name>SelectNoteMsgServlet</display-name>
		<description></description>
		<servlet-class>com.ppumting.pm80.note.servlet.SelectNoteMsgServlet</servlet-class>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
